html, body {
  height: 100vh;
  overflow: hidden;
  --uno: bg-base font-sans;
}

.dark {
  color-scheme: dark;
}
.cardDisposeArea{
  position: absolute;
  right: 520px;
  bottom: 243px;
  top: inherit; 
}